.ipynb_checkpoints/README-checkpoint.md                                            
docs/.DS_Store
docs/.ipynb_checkpoints/ 
docs/_build/
.DS_Store
.ipynb_checkpoints/alfa-checkpoint.py
__pycache__/alfa.cpython-37.pyc
.vscode/settings.json
